html {
  overflow: scroll;
}

.navbar-custom {
    color: #000000;
    background-color: #ffffff;
	 height: 75px;
}

.selected-custom{
    color: #3e3cf0;
}

.btn-custom{
    background-color: #3e3cf3;
	padding: 0.5px 15px;
	color:white;
    text-align: center;
    font-size: 14px;
    margin: 1px 2px;
    cursor: pointer;
	border-radius: 2px;
}

.logo-custom{
	margin: 0px 0px;
	
}



.list-custom{
	padding-top: 11px;
	padding-right: 20px;
}
/*https://bootsnipp.com/snippets/featured/onvenient-buttons*/
.btn {
    border-radius: 0;
    border: 0;
    border-bottom: 4px solid #CCCCCC;
    -webkit-box-shadow: 0 5px 5px -6px rgba(0,0,0,.3);
       -moz-box-shadow: 0 5px 5px -6px rgba(0,0,0,.3);
            box-shadow: 0 5px 5px -6px rgba(0,0,0,.3);
}
.btn .btn-block:active, .btn .btn-lg:active {
    -webkit-box-shadow: inset 0 3px 3px -5px rgba(0,0,0,.3);
       -moz-box-shadow: inset 0 3px 3px -5px rgba(0,0,0,.3);
            box-shadow: inset 0 3px 3px -5px rgba(0,0,0,.3);
}
.btn-primary {
    background-color: #3e3cf3;
    border-color: #3e3cf3;
}
.btn-primary:hover, .btn-primary:focus {
    background-color: #3e3cf3;
    border-color: #3e3cf3;
	
}

/*https://bootsnipp.com/snippets/vORj6*/


.form-body{
    background:#fff;
    padding:20px;
	padding-top: 75px;
}
.login-form{
    background:rgba(255,255,255,0.8);
	padding:20px;
	border-top:3px solid#3e4043;
}
.innter-form{
	padding-top:20px;
}
.final-login li{
	width:50%;
}

.nav-tabs {
    border-bottom: none !important;
}

.nav-tabs>li{
	color: #222 !important;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
    color: #fff;
    background-color: #3e3cf0;
    border: none !important;
    border-bottom-color: transparent;
	border-radius:none !important;
}
.nav-tabs>li>a {
    margin-right: 2px;
    line-height: 1.428571429;
    border: none !important;
    border-radius:none !important;
	text-transform:uppercase;
	font-size:16px;
}

.social-login{
	text-align:center;
	font-size:12px;
}
.social-login p{
	margin:15px 0;
}
.social-login ul{
	margin:0;
	padding:0;
	list-style-type:none;
}
.social-login ul li{
	width:33%;
	float:left;
    clear:fix;
}
.social-login ul li a{
	font-size:13px;
	color:#fff;
	text-decoration:none;
	padding:10px 0;
	display:block;
}
.social-login ul li:nth-child(1) a{
	background:#3b5998;
}
.social-login ul li:nth-child(2) a{
	background:#e74c3d;
}
.social-login ul li:nth-child(3) a{
	background:#3698d9;
}
.sa-innate-form input[type=text], input[type=password], input[type=file], textarea, select, email{
    font-size:13px;
	padding:10px;
	border:1px solid#ccc;
	outline:none;
	width:100%;
	margin:8px 0;
	
}
.sa-innate-form input[type=submit]{
    border:1px solid#e64b3b;
	background:#e64b3b;
	color:#fff;
	padding:10px 25px;
	font-size:14px;
	margin-top:5px;
	}
	.sa-innate-form input[type=submit]:hover{
	border:1px solid#db3b2b;
	background:#db3b2b;
	color:#fff;
	}
	
	.sa-innate-form button{
	border:1px solid#e64b3b;
	background:#e64b3b;
	color:#fff;
	padding:10px 25px;
	font-size:14px;
	margin-top:5px;
	}
	.sa-innate-form button:hover{
	border:1px solid#db3b2b;
	background:#db3b2b;
	color:#fff;
	}
    .sa-innate-form p{
        font-size:13px;
        padding-top:10px;
    }
 .fullscreen_bg {
   position:static;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url('../images/background-home.PNG');
    background-repeat:no-repeat;
	 height: 570px;
  }
.size-custom{
	width: 2500px;
	height: 200px;
	background-color: aqua;
}
.sign-form-custom{
	position: relative;
}
.footer-custom{
	background: #3e3cf3;
	margin: 0;
	padding-left: 960px;
	padding-right: 960px;
	height: 100px;
}
#footer {
	background: #f3f3fa;
	margin: 0;
	padding: 36px 0 42px;
}
#footer div {
	margin: 0 auto;
	overflow: hidden;
	padding: 0;
	width: 960px;
}
#footer div p {
	color: #fff;
	float: left;
	line-height: 44px;
	margin: 0 0 0 10px;
	padding: 0;
}
#footer div ul {
	display: block;
	float: right;
	margin: 0;
	overflow: hidden;
	padding: 0;
	width: 256px;
}
#footer div ul li {
	display: block;
	float: left;
	list-style: none;
	margin: 0 10px;
	padding: 0;
	width: 44px;
}
#footer div ul li a {
	background: url(../images/icons.jpg) no-repeat 0 0;
	display: block;
	height: 44px;
	margin: 0;
	padding: 0;
	text-indent: -99999px;
	width: 44px;
}
#footer div ul li #twitter {
	background-position: 0 0;
}
#footer div ul li #twitter:hover {
	background-position: -44px 0;
}
#footer div ul li #facebook {
	background-position: 0 -44px;
}
#footer div ul li #facebook:hover {
	background-position: -44px -44px;
}
#footer div ul li #googleplus {
	background-position: 0 -88px;
}
#footer div ul li #googleplus:hover {
	background-position: -44px -88px;
}
#footer div ul li #pinterest {
	background-position: 0 -132px;
}
#footer div ul li #pinterest:hover {
	background-position: -44px -132px;
}

/*https://bootsnipp.com/snippets/featured/custom-search-input*/
#custom-search-input{
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
}

#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
    font-size: 23px;
}

